* {
  font-family: 'Nunito', sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

a {
  text-decoration: none; }

/*Nav Mobile*/
.nav_container {
  display: flex;
  justify-content: space-around;
  background: #020024;
  background: #2fff6d;
  position: fixed;
  bottom: 0;
  width: 100%;
  border: 3px solid #407a47;
  border-radius: 15px 15px 0 0; }
  .nav_container .ul_nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none; }
    .nav_container .ul_nav .nav_items {
      padding: 1rem; }
      .nav_container .ul_nav .nav_items .nav_links {
        color: white;
        text-decoration: none;
        border-radius: 15px 15px 0 0;
        padding: 8px; }
      .nav_container .ul_nav .nav_items:hover {
        background-color: #8effa8;
        cursor: pointer;
        color: #000000; }

.contact_body {
  background-color: #1B2430; }
  .contact_body div {
    height: 150px; }
    .contact_body div img {
      height: 150px;
      width: 100%;
      object-fit: cover;
      opacity: 0.9; }
  .contact_body h1 {
    margin-top: 20px;
    text-align: center;
    color: #D6D5A8; }
  .contact_body form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 5vh;
    margin-right: 5vh; }
    .contact_body form input, .contact_body form textarea {
      height: 40px;
      width: 250px;
      margin-bottom: 12px;
      padding: 5px;
      border: none;
      border-radius: 5px; }
    .contact_body form input.send, .contact_body form textarea.send {
      color: #D6D5A8;
      font-size: calc(10px + 2vh);
      background-color: #816797;
      font-weight: bold; }
    .contact_body form textarea {
      resize: none;
      height: 170px; }
