.contact_body{

    background-color: bgcolor;

    div {

        height: 150px;

        img {

            height: 150px;
            width: 100%;
            object-fit: cover;
            opacity: 0.9;
            // box-shadow: 1px, 2px;

        }

    }

    h1 {

        margin-top: 20px;
        text-align: center;
        color: $main_title;

    }

    form {
        
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 5vh;
        margin-right: 5vh;

        input {

            height: 40px;
            width: 250px;
            margin-bottom: 12px;
            padding: 5px;
            border: none;
            border-radius: 5px

        }

        input.send {

            color: $btn_text;
            font-size: calc(10px + 2vh);
            background-color: $btn_submit;
            font-weight: bold

        }

        textarea {

            @extend input;
            resize: none;
            height: 170px;

        }

    }

}