/*Nav Desktop*/
// .navDesktop{
//     display:flex;
//     justify-content: center;
//     align-items: center;
//     .logo_img{
//     width: 50px;
//     height: 50px;
//     }
//     .listaNav{
//         display: flex;
//         justify-content: center;

//     }
// }
/*Nav Mobile*/
.nav_container{

  display:flex;
  justify-content: space-around;
  background-color: $nav_bar;
  position: fixed;
  bottom: 0;
  width: 100%;
  border: 3px solid #407a47;
  border-radius: 15px 15px 0 0;

    .ul_nav{
        display: flex;
        flex-direction:row;
        align-items: center;  
        list-style-type: none;

        .nav_items{
            padding: 1rem;

            .nav_links{
                
                i {

                    color: $nav_button;
                    text-decoration: none;
                    padding: 5px;
                    font-size: $paragraph;

                }


                }

                &:hover{
                    background-color: rgb(142, 255, 168);
                    cursor: pointer;
                    color: #000000;
                }
        }    
    }
}







