// colors
$text: #2b3537;
$bgcolor: #F8F4E3;
$nav_bar: #0EAD69;
$nav_button: #F8F4E3;
$main_title: #084C61;
$btn_text: #F8F4E3;
$btn_submit: #56A3A6;

//fonts
$big_title: calc(24px + 1vh);
$paragraph: calc(10px + 1vh);
$description_card: calc(8px + 1vh);